@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("torcida2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    
}
.cabeçalho-container{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: auto;
    align-content: center;

    
}
.cabeçalho-container img{
    display: flex;
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    overflow: hidden;
}

#card{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    width: 90%;
    height: 25rem;
    aspect-ratio: 3/1;
    border: white 5px;
    overflow-x:hidden;
    overflow-y: scroll;
    scroll-padding: 20px;
    background-color: rgba(152, 160, 200, 1);
    position: relative;
    min-width: 300px;
    min-height: 300px;
    align-self: center;
    margin-top: 20px;
    
}

.container{ 
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}



.container>div{
    display: flex;
    flex-direction: column;
    border: 3px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 40rem;
    width: 30rem;
    margin: 20px;
    position: relative;
    overflow: hidden;
    min-width: 360px;
    min-height: 360px;
}

.btn{
  margin: 20px 5px 20px;
  background-color: #00040a;
  border: none;
  color: white;
  padding: 10px 30px 10px;
  border-radius: 10px;
  
}

nav{
    display: flex;
    align-self: center;
    padding: 10px;
}
li{
  margin: 10px;
    list-style: none;
    padding: 10px;
    font-family: 'lucinda',sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.cabecalho{
    background-color:#050000;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding:0;
    height: 100px;
}
.cabecalho-menu{
    display:flex;
    gap:16px;
}
.cabecalho-menu-item{
   font-family:'sarala',sans-serif;
   font-weight:400;
    font-size:18px;
    color:#eeebeb;
    
}
option{
    font-family:'sarala',sans-serif;
   font-weight:400;
    font-size:18px;
    color:#f7f3f3;
    background-color:#00040a;
}


 .btninscrever{
      display:flex;
      padding: 5px 10px 5px;
      font-size: 18px;
      background: black;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      flex-direction:row;
      overflow: hidden;
      align-self: right;
      

 }
 .btninscrever:hover{
    background: white;
    color: black;
 }

    /* Fundo escuro do modal */
    .modal {
      display: none; /* escondido por padrão */
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background: rgba(0,0,0,0.6);
    }

    /* Caixa do formulário */
    .modal-content {
      background: white;
      margin: 10% auto;
      padding: 20px;
      border-radius: 8px;
      width: 300px;
      text-align: left;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    }

    .modal-content h2 {
      margin-top: 0;
    }

    .close {
      float: right;
      font-size: 22px;
      cursor: pointer;
      color: red;
    }

    .modal label {
      font-weight: bold;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .submit-btn {
      background: rgb(116, 24, 2);
      color: white;
      padding: 20px;
      border: none;
      width: 100%;
      border-radius: 5px;
      cursor: pointer;
    }

    .submit-btn:hover {
      background: darkgreen;

    }

